{% comment %}
------------------------------------------------------------------------------
  Section: Featured collection
  - This the main section that you should be working on
  - Main styling is done in /styles/sections/featured-collection.scss
------------------------------------------------------------------------------
{% endcomment %}

<section
  class="featured-collection"
  data-section-id="{{ section.id }}"
  data-section-type="featured-collection"
>
  {%- assign collection = collections[section.settings.collection] -%}

  <div class="container">
    <div class="row">
      <div class="col xs12">
        <div class="title-section">
          <h2>
            {{ collection.title | escape }}
          </h2>

          <p>
            {{ collection.description }}
          </p>
        </div>

        <div class="collection-carousel" 
             data-flickity='{ "cellAlign": "left", "contain": true, "groupCells": true }'>
          {% for product in collection.products limit: 8 %}
            {% assign current_variant = product.selected_or_first_available_variant %}

            <div class="product-card">
              <div class="image-sale-container">
                <a href="{{ product.url | within: collection }}">
                  {% if product.featured_image != blank %}
                    {{ product.featured_image | img_url: 'large' | img_tag }}
                  {% endif %}

                  {% for tag in product.tags %}
                    {% if tag == 'badge: sale' %}
                      <div class="product-card__sale-tag">Sale</div>
                    {% endif %}
                  {% endfor %}
                </a>
                  <button
                    class="product-card__add-to-cart"
                    data-quantity="1"
                    data-variant-id="{{ current_variant.id }}"
                    js-ajax-cart="addToCart"
                  >
                    Add to cart
                  </button>
              </div>

              <p>{{ product.title | escape }}</p>

              <span class="product-price">
                {% include 'product-price' %}
              </span>
            </div>
          {% endfor %}
        </div>

        <div class="bottom-section">
          <span class="view-collection">View Collection</span>
        </div>

      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
